<h1>Write your blog</h1>

<form method="post" action="/posts">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"></input>
  <br>
  <br>
  <label for="content">Content:</label>
  <textarea type="text" id="content" name="content" rows="12" cols="60"></textarea>
  <br>
  <br>
  <input type="submit" id="submit"></input>
</form>
